.colorBox {
    float: left;
    margin-bottom: 15px;
    border: 1px solid rgb(0, 0, 0);
}

.inputBox {
    height: 1.7em;
    width: 1.7em;
    background-color: violet;
    clear: both;
    margin-right: 5px;
}

.outputBox {
    height: 3.0em;
    width: 7.5em;
    color: #69d0ea;
    clear: unset;
}

table {
	border: 1px solid;
}